[commit]
    template=~/.commit_template
[user]
    email = ry.itto.github@gmail.com
    name = ryoya ito
[core]
    excludesfile = ~/.gitignore_global
	editor = nvim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
	ff = only
